
<ol>
  <% @bookmarks.each do |bookmark| %>
    <li>   
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>   
    
    </li>
  <% end %>
</ol>



<a href=bookmarks/new> Add new bookmarks here. </a>