<form action="/bookmarks" method="POST">
  Enter URL for new bookmark:
  <input type="text" name="url"><br>
  Enter title for the new bookmark:
  <input type="text" name="title"><br>
  <input type="submit" value="Create Bookmark">
</form>